.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}
.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio .swiper {
  overflow: visible !important;
}
.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}
.portfolio-slider .swiper-slide {
  width: 20rem;
  /* height: 16rem; */
}
.portfolio img {
  width: 19rem;
  height: 12rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  cursor: pointer;
}
.portfolio-slider h3 {
  text-align: center;
  margin-top: 2rem;
}
.portfolio-slider a {
  list-style-type: none;
  text-decoration: none;
}
.portfolio-slider .swiper-slide:hover .img-side {
  display: flex;
}
.portfolio-slider .swiper-slide .img-side {
  display: none;
  gap: 1rem;
  border: none;
  position: absolute;
  top: -12rem;
  left: -18rem;
}
.last-slide {
  margin-right: -12rem;
}
.portfolio-slider .swiper-slide .img-side img {
  height: 250px;
  width: 353px;

}
.img-wrap {
  display: none;
  border: none;
  position: absolute;
  top: 4rem;
  left: 6rem;
  font-size: 2rem;
  color: white;
}
.portfolio-slider .swiper-slide:hover .img-wrap {
  display: flex;
}
@media screen and (max-width: 480px) {
  .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .portfolio span:nth-of-type(1) {
    width: max-content;
  }
  .portfolio span:nth-of-type(2) {  
    width: max-content;
  }
  .portfolio img {
    margin-left: -3rem;
  }
  .portfolio-slider h3 {
    display: none;
  }
  .portfolio-slider .swiper-slide:hover .img-side {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .portfolio-slider h3 {
    display: none;
  }
}
